@charset "utf-8";

@media all and (min-width: 200px){
  /* xs */
  .header{
    background-color: #e4e4e4;
    padding: 1rem 0;
    margin-bottom: 4rem;

    &__title{
      margin-bottom: 0;
      font-size: 25px;
    }
  }

}
@media all and (min-width: 576px){
  /* sm */


}
@media all and (min-width: 768px){
  /* md */


}
@media all and (min-width: 992px){
  /* lg */


}
@media all and (min-width: 1200px){
  /* xl */


}
